@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

blockquote,dl,
dd,h1,h2,h3,h4,h5,h6,
hr,figure,p,pre {
  margin: 0;
}

#root,#sub-title,.month,div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root{
  width: auto;
}
/* 
div{
  width: 100%;
  height: 100%;
} */

/* .title,.month{
  margin: 4px 0 0 0;
} */

#sub-title{
  flex-direction: row;
  width: 100%;
  margin-top: 7px;
}

#sub-title>button{
  width: 30px;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.month{
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 24px;
}

#table{
  width: 600px;
}

html{
  height: 800px;
}
